[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
stdout_callback = default
interpreter_python = auto_silent

[inventory]
enable_plugins = host_list, script, auto, yaml, ini
